.modal-content{
    width: 500px;
    height: 270px;
    background-color: white;
    margin: auto auto;
    border-radius: 15px;
    padding: 7px 12px
}

.extra-stuff{
    height: 400px !important;
}

.buttonDiv{
    margin: 30px auto; 
    display: flex;
    width: 86% 
}

@media only screen and (max-width: 480px){

    .modal-content{
        width: 300px;
        height: 300px;
        background-color: white;
        margin: auto auto;
        border-radius: 15px;
        padding: 7px 12px
    }

    .buttonDiv{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 75px;    
    }

    .extra-stuff{
        height: 400px !important;
    }

}